@media screen and (max-width: 575px){
	.btn-outer{
		position: fixed;
		bottom: 0;
		margin-bottom: 20px;
		width: 100%;
		left: 0;
		justify-content: center !important;
	}
	.whatsup-btn{
		padding: 6px 12px;
		font-size: 12px;
	}
	.call-btn{
		padding: 5px 10px;
		font-size: 12px;
	}
	.left-section h1{
		font-size: 26px;
		line-height: 40px;
	}

	.left-section-btn button{
		display: flex;
		width: 100%;
		justify-content: center;
		font-size: 16px;
		padding: none;
	}
	.highlight h4{
		font-size: 12px;
	}
	.img-text{
		position: absolute;
		top: 10%;
		left: 10%;
		transform: translate(-50%, -50%);
		color: #f6eaea;
		opacity: 0;
		transition: all 3s ease;
		transform: translateY(55px);
	}
	.img-text p{
		font-size: 20px;
		font-weight: 700;
		width: 300px;
	}
	.icon{
		position: absolute;
		bottom: 2%;
		left: 35%;
		transform: translate(-50%, -50%);
		transition:all 3s ease;
		transform: translateY(-25px);
	}
	
}